.bookResult {
    display: flex;
    flex-flow: row;
    height: auto;
    width: 95%;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: gray;
}

.bookResultInfo {
    max-width: 60%;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.bookResult img {
    display: block;
    width: 100%;
    height: auto;
    padding: 15px;
}

.imageContainer {
    width: 20%;
}